{% extends 'base.html' %}

{% block body1 %}
    <div id="header1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1><br>Таблица регистраций<br></h1>
                <table class="table table-hover table-inverse">
                <tr>
                    <th>№</th>
                    <td>Код регистрации</td>
                    <td>Выбранный номер</td>
                </tr>
                {% for registr in object_list %}
                    <tr>
                        <th scope="row">{{registr.id_registr}}</th>
                        <td> {{registr.code_registr}} </td>
                        <td> {{registr.nomer_registr}} </td>
                    </tr>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
